#popup {
    font-family: 'Roboto', sans-serif;
    background: url(../img/bg.png) no-repeat #081930;
    max-width: 838px !important;
    height: 650px !important;
}
.closebutton {
    position: absolute;
    top: 20px;
    right: -115px;
}
.bg-1 {
    position: relative;
    top: 175px;
    left: -15px;
}

.bg-2 {
    position: relative;
    top: 217px;
    left: -26px;
}

.right {
    position: relative;
    top: 180px;
}

.left {
    position: relative;
    top: 110px;
    left: 59px;
}

.give-away {
    padding: 0 55px;
}

.main {
    padding-top: 30px;
    text-align: center;
}

.font {
    font-size: 88px;
    color: #FFFFFF;
    letter-spacing: -5px;
    text-align: center;
    line-height: 88px;
}

.font-1 {
    font-weight: 900;

}

.font-2 {
    font-weight: 700;

}

.font-3 {
    font-weight: 500;

}

.font-4 {
    font-weight: 400;

}

.font-5 {
    font-weight: 300;

}

.font-6 {
    font-weight: 100;

}

.get {
    font-size: 25px;
    font-weight: 700;
    color: #FAB900;
    letter-spacing: 0;
    text-align: center;
    line-height: 15px;
    padding-top: 10px;
}

h8 {
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 15px;
    font-weight: 400;
}

.price {
    font-size: 14px;
    color: #FAC100;
    letter-spacing: 0;
    text-align: center;
    line-height: 16px;
    font-weight: 900;

}

.column {
    background: linear-gradient(135deg, #FFE385 0%, #FAB900 50%);
    border-radius: 20px;
    width: 140px;
    height: 190px;
    margin: -5px -10px 5px -12px;
}

.column-holder {
    display: inline-flex;
}

.name {
    padding-top: 20px;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 2px;
    font-weight: 900;
}

.series {
    font-size: 10px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 1px;
    font-weight: 900;
}

.prize {
    font-weight: 900;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.coupon {
    width: 100%;
    height: 104px;
    background: url(../img/coupon.png) no-repeat center;
    background-size: contain;
}

.col-md-auto {
    margin: 0px;
    padding: 0px;
}

.promo {
    font-size: 15px;
    color: #081930;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    padding-top: 10px;
}

.code {
    font-weight: 900;
    font-size: 50px;
    color: #081930;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
}

.bonus {
    position: relative;
    top: 12px;
}
@media screen and (min-width:768px) and (max-width:1180px) {
   
    .closebutton {
        position: absolute;
        top: 20px;
        right: -41px;
    }
}

@media screen and (max-width:767px) {
    #popup {
        max-width: 96% !important;
        margin: 1%;
    }
    .get {
        font-size: 15px;
    }
    .main-row {
        background: url(../img/bg.png) no-repeat #081930;
    }
    .code {
        font-size: 20px;
        line-height: 20px;
    }
    .promo {
        margin-top: 26px;
        font-size: 10px;
        line-height: 0px;
    }
    .bonus {
        position: relative;
        top: -7px;
        bottom: 10px;
    }
    .closebutton {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
@media screen and (max-width:480px) {
     .font {
        font-size: 2em;
        text-shadow: 1px 1px 2px black, 0 0 1em #2b00b9;
        letter-spacing: -1px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
    #popup  {
    background: url(../img/bg@2x.png) no-repeat #081930;
    background-size: contain;
    }
    .coupon {
        width: 100%;
        height: 104px;
        background: url(../img/coupon@2x.png) no-repeat center;
        background-size: contain;
    }
    
}
